<h1>Products Home</h1>
<div>
    <table>
        <tr> 
            <th>ID</th>
            <th>Title</th>
            <th>Description</th> 
            <th>Price</th> 
            <th>Code</th> 
            <th>Stock</th> 
            <th>Category</th> 
            <th>Status</th>
            <th></th>
        </tr>
        <tbody>
            {{#each products}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.status}}</td>
                    <td><button>Add to cart</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    
    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}&limit={{limit}}&sort={{sort}}"><button>Prev</button></a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}&limit={{limit}}&sort={{sort}}"><button>Next</button></a>
    {{/if}}

    <p>Page {{page}} / {{totalPages}}</p>

</div>